<footer class="site-footer">
    <div class="container-fluid">
        <div class="footer-wrapper">
            <div class="logo-block">
                <a routerLink="/dashboard" title="TatvaSoft">
                    <img src="./assets/images/tatvasoft-logo.svg" alt="Tatvasoft Logo" class="light" />
                    <img src="./assets/images/tatvasoft-logo-white.svg" alt="Tatvasoft Logo" class="dark" />
                </a>
            </div>

            <ul class="text-block">
                <!-- <li>Version: 1.1.8564.32675</li> -->
                <li>Copyright © TatvaSoft All rights reserved.</li>
            </ul>
        </div>
    </div>
</footer>