<div class="grid-wrapper-inner">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" [showAddButton]="false" [heading]="'Add Week-off'"></app-page-header>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="addWeekoffForm">
                <div class="form-row add-group-form sm">
                    <div class="form-col">
                        <lib-form-field *ngIf="date" [config]="date" type="datepicker" [isSubmitted]="submitted"
                            [startView]="'multi-year'"></lib-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="grid-content-wrap">
        <app-save-cancel-button [saveButtonConfig]="saveButtonConfig"
            [cancelButtonConfig]="cancelButtonConfig"></app-save-cancel-button>
    </div>
</div>