<div class="grid-wrapper-inner">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" [showAddButton]="false" [showBackButton]="true"
            (handleBackClick)="onMissingAttendanceClick()" backButtonTitle="Missing Attendance"
            heading='Manage Attendance'></app-page-header>

        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="filterForm">
                <lib-form-field *ngIf="reportingOfficer" [config]="reportingOfficer"
                    type="autocomplete"></lib-form-field>
                <lib-form-field *ngIf="monthDropDown" [config]="monthDropDown" type="dropdown"></lib-form-field>
                <lib-form-field *ngIf="yearDropDown" [config]="yearDropDown" type="dropdown"></lib-form-field>
                <lib-form-field class="checkbox-filter" *ngIf="todaysPendingAttendance"
                    [config]="todaysPendingAttendance" type="checkbox"></lib-form-field>
                <lib-form-field *ngIf="includeAllTeam" class="checkbox-filter" [config]="includeAllTeam"
                    type="checkbox"></lib-form-field>
                <div class="filter-btn-wrapper has-left-space">
                    <div class="inner-wrapper">
                        <div class="btn-sm">
                            <lib-button [buttonConfig]="searchBtnConfig"></lib-button>
                        </div>
                        <div class="btn-sm">
                            <lib-button [buttonConfig]="resetBtnConfig"></lib-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="grid-content-wrap">
        <div class="attendance-table-outer">
            <div class="custom-breadcrumb-strip has-button">
                <ul class="breadcrumb-list">
                    <ng-container *ngIf="historyArray.length > 1">
                        <li *ngFor="let navItem of historyArray">
                            <ng-container *ngIf="navItem.order === historyArray.length">
                                <a class="link-underline" [title]="navItem.name">{{navItem.name}}</a>
                            </ng-container>
                            <ng-container *ngIf="navItem.order < historyArray.length">
                                <a (click)="onParentNameClick(navItem.memberId)" class="link-underline with-underline"
                                    [title]="navItem.name">{{navItem.name}}</a>
                            </ng-container>
                        </li>
                    </ng-container>
                </ul>
                <div class="fill-btn-wrapper btn-sm">
                    <lib-button *ngIf="pagePermissions.isEditPermission && fillAttendanceBtnConfig"
                        [buttonConfig]="fillAttendanceBtnConfig"></lib-button>
                </div>
            </div>
            <div class="attendance-month-wrapper">
                <h2 class="month">{{this.monthYearLabel}}</h2>
                <div class="scenario-wrapper">
                    <div class="scenario-item" *ngFor="let item of AttendanceTypeLabels">
                        <div class="color-box" [ngClass]="item.className"></div>
                        <p>{{item.attendanceType}}</p>
                    </div>
                </div>
            </div>

            <div class="attendance-table-wrapper team-attendance-wrapper">
                <div class="attendance-table-responsive has-sticky-left-col">
                    @if (attendanceData && attendanceData.length) {
                    <app-attendance-table [attendanceData]="attendanceData" [callback]="onParentNameClick"
                        [editableColumns]="editableColumns" (attendanceSelect)="onAttendanceSelect($event)"
                        [formGroup]="attendanceForm" [displayedColumns]="displayedColumns"></app-attendance-table>
                    }
                    @else {
                    <div class="no-data-found">
                        No data found.
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>