<div class="grid-wrapper-inner">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" [showAddButton]="false" [showBackButton]="false"
            [heading]='heading'></app-page-header>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="editSdlcWorkFlowTypeFromGroup">
                <div class="form-row  add-sdlc-form sm">
                    <div class="form-col">
                        <lib-form-field *ngIf="name" [config]="name" type="text"
                            [isSubmitted]="submitted"></lib-form-field>
                    </div>
                    <div class="form-col">
                        <lib-form-field *ngIf="abbreviation" [config]="abbreviation" type="text"
                            [isSubmitted]="submitted"></lib-form-field>
                    </div>
                    <div class="form-col full-width">
                        <lib-file-input #fileInputComponent (selectedFileChange)="fileBrowseHandler($event)"
                        [fileList]="this.fileList" [config]="icon"
                        (fileErrorStatusChanged)="handleFileErrorStatusChange($event)" [isSubmitted]="fileSubmitted"
                        (previewFile)="previewDocument($event)" (deleteFile)="deleteFile($event)">
                    </lib-file-input>
                    </div>
                    <div class="form-col">
                        <lib-form-field *ngIf="isDefect" [config]="isDefect" type="slidetoggle"
                            [isSubmitted]="submitted"></lib-form-field>
                    </div>
                </div>
            </form>
            <div class="right-wrapper"></div>
        </div>
    </div>
    <div class="grid-content-wrap">
        <app-save-cancel-button [saveButtonConfig]="saveButtonConfig"
          [cancelButtonConfig]="cancelButtonConfig"></app-save-cancel-button>
      </div>
</div>