<div class="grid-wrapper-inner">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" [showAddButton]="false" heading="Correct"></app-page-header>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="correctionFormGroup">
                <div class="form-row add-group-form sm">
                    <div class="form-col">
                        <lib-form-field *ngIf="member" [config]="member" type="autocomplete"
                            [isSubmitted]="submitted"></lib-form-field>
                    </div>
                    <div class="form-col">
                        <lib-form-field *ngIf="date" [config]="date" [isSubmitted]="submitted"
                            type="datepicker"></lib-form-field>
                    </div>
                    <div class="form-col">
                        <lib-form-field *ngIf="attendance" [config]="attendance" type="text"></lib-form-field>
                    </div>
                    <div class="form-col">
                        <lib-form-field *ngIf="correctedAttendance" [config]="correctedAttendance" type="dropdown"
                            [isSubmitted]="submitted"></lib-form-field>
                    </div>
                </div>
            </form>
            <div class="right-wrapper"></div>
        </div>
    </div>
    <div class="grid-content-wrap">
        <div class="bottom-btn-wrap">
            <div class="btn-sm" *ngIf="pagePermissions.isEditPermission">
                <lib-button [buttonConfig]="saveButtonConfig"></lib-button>
            </div>
            <div class="btn-sm">
                <lib-button [buttonConfig]="resetBtnConfig"></lib-button>
            </div>
        </div>
    </div>
</div>