<div class="auth-wrapper" style="background-image: url('../../../assets/images/auth-banner.jpg');">
    <div class="auth-box">
        <div class="logo">
            <img src="../../../../assets/images/workspace-logo.svg" alt="site-logo">
        </div>
        <ng-container *ngIf="errorMessage">
            <div class="error-message-account">
                {{errorMessage}}
            </div>
        </ng-container>
        <div class="title-wrapper">
            <h1>Forgot your password?</h1>
            <p>Please provide your Username to receive your password.</p>
        </div>
        <form [formGroup]="forgotPasswordForm">
            <div class="mb-2">
                <lib-form-field type="text" [config]="userName" [isSubmitted]="submitted"></lib-form-field>
            </div>
        </form>
        <div class="auth-btn-wrapper btn-sm">
            <lib-button [buttonConfig]="cancelBtnConfig"></lib-button>
            <lib-button [buttonConfig]="submitBtnConfig"></lib-button>
        </div>
    </div>
</div>