<div class="modal-wrapper">
  <div class="modal-header">
    <div class="title">
      <h2>Change password</h2>
    </div>
    <button type="button" mat-icon-button class="close-btn" mat-dialog-close>
      <img src="./assets/images/close.svg" alt="Close" class="light" />
      <img src="./assets/images/close-gray.svg" alt="Close Gray" class="dark" />
    </button>
  </div>
  <div class="modal-content">
    <div class="modal-content-wrapper">
      <form class="modal-form" [formGroup]="changePasswordFormGroup">
        <div class="form-row">
          <div class="form-col full-width">
            <lib-form-field [config]="oldPassword" type="password" [isSubmitted]="submitted"></lib-form-field>
          </div>
          <div class="form-col full-width">
            <lib-form-field [config]="newPassword" type="password" [isSubmitted]="submitted"></lib-form-field>
          </div>
          <div class="form-col full-width">
            <lib-form-field [config]="confirmPassword" type="password" [isSubmitted]="submitted"></lib-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-wrap">
      <lib-button [buttonConfig]="cancelButtonConfig"></lib-button>
      <lib-button [buttonConfig]="changePasswordButtonConfig"></lib-button>
    </div>
  </div>
</div>