<div class="grid-wrapper-inner">
  <div class="filter-title-wrapper">
    <app-page-header [items]="breadcrumbItems" [showAddButton]="false"
    [showBackButton]="false"
    [heading]='heading'></app-page-header>
    <div class="dropdown-link-wrapper">
      <form class="left-wrapper" [formGroup]="editSdlcWorkFlowStepFromGroup">
        <div class="form-row  add-step-form sm">
          <div class="form-col">
            <lib-form-field *ngIf="name" [config]="name" type="text" [isSubmitted]="submitted"></lib-form-field>
          </div>
          <div class="form-col">
            <lib-form-field *ngIf="color" [config]="color" [isSubmitted]="submitted" type="dropdown"></lib-form-field>
          </div>
          <div class="form-col">
            <lib-form-field *ngIf="isClosed" [config]="isClosed" type="slidetoggle" [isSubmitted]="submitted"></lib-form-field>
          </div>
        </div>
      </form>
      <div class="right-wrapper"></div>
    </div>
  </div>
  <div class="grid-content-wrap">
    <app-save-cancel-button [saveButtonConfig]="saveButtonConfig"
      [cancelButtonConfig]="cancelButtonConfig"></app-save-cancel-button>
  </div>
</div>
