<mat-drawer mode="side" class="sidebar">
  <div class="sidebar-wrapper">
    <div class="sidebar-inner">
      <div class="logo-block">
        <a title="Workspace" routerLink="/dashboard">
          <img class="light-theme-logo" src="./assets/images/workspace-logo.svg" alt="Workspace Logo" />
          <img class="dark-theme-logo" src="./assets/images/workspace-logo-white.svg" alt="Workspace Logo" />
        </a>
      </div>
      <div class="nav-list-wrapper">
        <ng-scrollbar #scrollable track="all" pointerEventsMethod="scrollbar" visibility="hover">
          <ul class="nav-list main-list">
              <div *ngTemplateOutlet="recursiveMenu; context:{ $implicit: sideBarData }"></div>

              <ng-template #recursiveMenu let-menus>
                <ng-container *ngFor="let list of menus;">
                  <li class="nav-list-item" [ngClass]="{'has-menu': list.childrenPages.length > 0 && list.level === 1, 'has-submemu' : list.childrenPages.length > 0 && list.level > 1 }" routerLinkActive="current-page">
                    <ng-container *ngIf="list.childrenPages.length > 0">
                      <mat-accordion *ngIf="list.level === 1;else child_level" class="example-headers-align" multi="false">
                        <mat-expansion-panel [expanded]="activePanelData.length >= list.level && activePanelData[list.level - 1].id === list.id" (opened)="setOpened(list)">
                          <mat-expansion-panel-header class="panel-title">
                            <mat-panel-title>
                              <em class="icon">
                                <img [src]="list.iconCssClass" [alt]="list.menuName" />
                              </em><em class="text">{{list.menuName}}</em>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <ul class="nav-list sub-nav-list">
                            <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: list.childrenPages }"></ng-container>
                          </ul>
                        </mat-expansion-panel>
                      </mat-accordion>

                      <ng-template #child_level>
                          <mat-expansion-panel class="inner-panel" [expanded]="activePanelData.length >= list.level && activePanelData[list.level - 1].id === list.id" (opened)="setOpened(list)">
                            <mat-expansion-panel-header class="panel-title">
                              <mat-panel-title>{{list.menuName}} </mat-panel-title>
                            </mat-expansion-panel-header>
                          <ul class="nav-list inner-sub-nav sub-nav-list">
                            <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: list.childrenPages }"></ng-container>
                          </ul>
                        </mat-expansion-panel>
                      </ng-template>
                    </ng-container>

                    <ng-container *ngIf="list.childrenPages.length <= 0 && list.level === 1">
                      <a [title]="list.menuName" mat-button [routerLink]="list.pageUrl" (click)="setOpened(list)">
                        <em class="icon">
                          <img [src]="list.iconCssClass" [alt]="list.menuName" />
                        </em>
                        <em class="text">{{list.menuName}}</em>
                      </a>
                    </ng-container>

                    <ng-container *ngIf="list.childrenPages.length <= 0 && list.level > 1">
                      <a [routerLink]="list.pageUrl" mat-button (click)="setOpened(list)"
                        [title]="list.menuName">{{list.menuName}}</a>
                    </ng-container>
                  </li>
                </ng-container>
              </ng-template>
            
          </ul>
        </ng-scrollbar>
      </div>
    </div>
  </div>
  <div class="sidebar-overlay" (click)="closeSidebar()"></div>
</mat-drawer>